@font-face {
  font-family: "iconfont"; /* Project id 3818608 */
  src: url('iconfont.woff2?t=1681804884621') format('woff2'),
       url('iconfont.woff?t=1681804884621') format('woff'),
       url('iconfont.ttf?t=1681804884621') format('truetype'),
       url('iconfont.svg?t=1681804884621#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bcs-renwu:before {
  content: "\e679";
}

.bcs-shouye:before {
  content: "\e639";
}

